# export JWT_SECRET="your-super-secret-key-change-this-to-something-random-min-32-chars"

# export ADMIN_USERNAME="admin"
# For production, prefer a bcrypt hash here
# export ADMIN_PASSWORD='3472fa4c989c77b9c444d3ed4acbf6831c8461f793efb733638e462ecb22ee26'

# export ADMIN_PASSWORD_SALT='mysalt'

# export READONLY_MODE="true"
# Server configuration
export BACKEND_PORT="8080"
export FRONTEND_PORT="5173"

# Docker configuration (uncomment to override default)
# export DOCKER_HOST="unix:///var/run/docker.sock"
# export DOCKER_HOSTS="local=unix:///var/run/docker.sock,remote=ssh://root@74.50.113.72"
# export DOCKER_HOSTS="remote=ssh://root@74.50.113.72"
