services:
  logdeck:
    image: amoabakelvin/logdeck:latest
    # To build locally instead, comment out 'image' and uncomment below:
    # build:
    #   context: .
    #   dockerfile: ./server/Dockerfile
    ports:
      - "8123:8080"
    environment:
      - JWT_SECRET=${JWT_SECRET}
      - ADMIN_USERNAME=${ADMIN_USERNAME}
      - ADMIN_PASSWORD=${ADMIN_PASSWORD}
      - ADMIN_PASSWORD_SALT=${ADMIN_PASSWORD_SALT}
      - DOCKER_HOST=${DOCKER_HOST:-unix:///var/run/docker.sock}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /root/.ssh:/root/.ssh:ro
      - /proc:/host/proc:ro
